.central-footer-text{
    font-size: 13px;
    padding-top: 23px;
    padding-bottom: 23px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    color: #C9CBD0;
}

.media-res ul a:hover{
    opacity: 0.5;
}



.logo-company{
    padding-right: 114px;
}

video{
  top: 20px;
  width: 1280px;
  height: 1060px;
  left: 0;
  right: 0;
  bottom: 20px;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

  background: url('img/play.png');
}
button {
    background-color: url('img/play.png');
    border: medium none;
    color: #fff;
    display: block;
    font-size: 18px;
    left: 85%;
    margin: 0 auto;
    padding: 8px 16px;
    position: absolute;
    right: 0;
    top: 110%;
    font-size: 50px;
}

button.active {
    background-color:transparent ;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 176px;
    padding-right: 85px;
    padding-top: 23px;
    padding-bottom: 23px;
}

.navigation a{
    text-decoration: none;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #181819;
}

.navigation a:hover{
    color: #9094A6;
}

.title-lvl1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.title-lvl1 h1{
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

.post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 114px;
    padding-right: 112px;
}

.post img:hover{
    filter: brightness(80%);
}

.text-content{
    align-items: center;
    justify-content: center;
}

figcaption{
    text-align: center;
    font-size: 18px;
}

.post .conteiner figcaption{
    padding-top: 20px;
    padding-bottom: 60px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

text-align: center;

color: #181819;
}
.text-content{
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 291px;
    padding-right: 321px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

color: #181819;
}

.main-text p{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    padding-left: 308px;
    padding-right: 308px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;

    color: #181819;
}

.read-more a{
    display: flex;
    margin-left: 850px;
    margin-right: 850px;
    margin-bottom: 50px;
    text-decoration: none;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 40px;
    border-bottom: 1px dashed #181819;
    color: #181819;
}

.read-more a:hover{
    border: 1px dashed #ffffff;
}

.headerNew__lang .lang li.active {
    position: relative;
}


.lang{
    padding-right: 85px;
}


.lang .lang__item-no-active a{
    color: #9999A0;
    list-style-type: none;
}

.lang .lang__item-active a{
    color: #181819;
    list-style-type: circle;
}
ul {
    display: flex;
    list-style-type: none;
  }
  
  .lang .lang__item-no-active ul li a{
    flex-basis: auto;
    flex-grow: 1;
    
    text-align: center;
  }

.lang a{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    
}

.lang .krapka{
    margin-left: 68px;
}